.BlogItem {
  display: grid;
  grid-template-columns: minmax(auto, 360px);
  grid-template-rows: 1fr minmax(auto, 150px) minmax(auto, 65px);
  background-color: var(--background3-col);

  .image {
    width: 100%;
  }

  .container {
    padding: 10px;
    text-align: left;
    .title {
      color: var(--dark1-col);
      font-size: 1.5em;
      font-weight: bold;
    }
    .title:hover {
      animation-name: colorChange;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease;
    }
  }
  .buttonContainer {
    padding: 0 10px 10px 10px;
    .button {
      width: 100%;
      background-color: transparent;
      border: 1px solid var(--light-green-col);
      color: var(--light-green-col);
      font-size: 14px;
      font-family: "Mulish", sans-serif;
      border-radius: 50px;
    }
    .button:hover {
      background-color: var(--light-green-col);
      color: var(--light-col);
    }
  }
}

@keyframes colorChange {
  from {
    color: var(--dark1-col);
  }
  to {
    color: var(--light-green-col);
  }
}
