.notifyWrapper {
	display: flex;
	max-width: 320px;
	width: 100%;
	border-radius: 20px;
	background-color: var(--dark4-col);
	padding: 28px 40px;
	margin-top: 10px;
	.notifyImgContainer {
		width: 64px;
		margin-right: 19.5px;
	}
	.notifyText {
		display: inline-block;
		color: var(--white-col);
		line-height: 50px;
		line-height: 0;
		span {
			vertical-align: middle;
			font-size: 18px;
			line-height: 20px;
		}
	}
}
@media screen and (max-width: 425px) {
  .notifyWrapper {
    .notifyText {
      line-height: 0;
      span {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
