.text {
  line-height: 1.42857143;
  background-color: #252020;
  color: var(--dark4-col) !important;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  border-bottom: 2px solid var(--dark5-col) !important;
}

.text:focus {
  outline: none;
  border-color: var(--dark3-col);
}
