.Header {
  --pd: 15px 22px;
  position: sticky;
  width: 100%;
  background-color: var(--background-col);
  border-top: 5px solid var(--light-green-col);
  box-shadow: 0 1px 30px rgb(0 0 0 / 10%);
  z-index: 100;

  .container {
    display: flex;
    justify-content: space-between;

    .mainLink {
      color: var(--dark1-col);
      font-size: 18px;
      font-weight: bold;
      line-height: 45px;
    }

    .linksContainer {
      display: flex;
      .link {
        div {
          padding: 15px 22px;
          color: var(--dark3-col);
        }
      }
      .link:hover {
        div {
          background-color: var(--light-green-col);
          color: #fff;
        }
      }
      .linkActive {
        div {
          padding: 15px 22px;
          background-color: var(--light-green-col);
          color: #fff;
        }
      }
    }

    .userBlock {
      display: flex;
      align-items: center;
      padding: 10px 22px;
      .avatar {
        width: 24px;
        height: 24px;
      }
      span {
        margin-left: 10px;
        color: var(--dark1-col);
      }
    }

    .signInContainer {
      display: flex;
      align-items: center;

      .signInIcon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
    }
    .logout {
      display: block;
      max-width: 220px;
      margin: 0 auto;
      width: 100%;
      height: 26px;
      padding: 2px 8px;
      font-size: 16px;
      font-weight: 500;
      color: var(--white-col);
      box-shadow: none;
      border-radius: 5px;
      background-color: var(--dark2-col);
      margin-left: 19px;
    }
    .logout:hover {
      color: var(--dark2-col);
      background-color: var(--background3-col);
      border: 1px solid var(--dark2-col);
    }
  }
}
