.InfoBlock {
  .top {
    font-size: 20px;
    color: #ffff;
    margin-bottom: 10px;

    .iconLinks {
      margin-right: 25px;
      padding: 5px;
      border-radius: 20px;
    }
    .iconLinks:hover {
      background-color: #000;
      cursor: pointer;
    }
  }

  .bottom, a {
    font-size: 14px;
    line-height: 24px;
    color: var(--dark4-col);
  }

  a {
    margin-right: 10px;
  }

  a:hover {
    color: var(--light-green-col);
  }
}
